<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发起问题</title>
    <!--markdown副文本编辑相关-->
    <link rel="stylesheet" href="/community/css/editormd.min.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/community/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/community/js/bootstrap.min.js"></script>

    <!--markdown副文本编辑相关-->
    <script src="/community/js/editormd.min.js"></script>

    <script type="text/javascript" src="/community/js/community.js"></script>

    <!--导航栏数据显示-->
    <script type="text/javascript" src="/community/js/include.js"></script>
</head>
<body>
<div th:insert="~{include/include::nav}"></div>
<div class="container-fluid" style="margin-top: 2%;margin-left: 20%;margin-right: 20%">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon glyphicon-plus" aria-hidden="true">發起</span></h4>
            <hr>
            <div class="jumbotron">
                <div class="container">
                    如果你希望他人花 1 分钟来解答你的问题，还请耐心花 10 分钟完善你的提问。
                    <br>
                    补充完整的错误描述，如：
                    <br>
                    软件版本；
                    <br>
                    运行环境；
                    <br>
                    场景/上下文；
                    <br>
                    有用的信息（请使用代码块粘贴，以方便他人查看）；
                    <br>
                    相关查询请求；
                    <br>
                    错误日志；
                    <br>
                    代码块；
                    <br>
                </div>
            </div>

            <form id="questionForm" method="post" action="/community/question/save">
                <input type="hidden" id="id" name="id" th:value="${question.getId()}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <label for="title">问题标题（简单扼要）:</label>
                        <input type="title" name="title" th:value="${question.getTitle()}" class="form-control"
                               id="title" th:placeholder="${message1}" placeholder="問題標題...">
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            選擇分類 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">選擇分類</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Action</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Another action</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>

                <!--内容富文本编辑-->
                <div id="question-editor">
                    <label for="content">问题补充 (必填，请参照右侧提示):</label>
                    <textarea name="content" id="content" style="display:none;" th:text="${question.getContent()}"
                              th:placeholder="${message2}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width  : "100%",
                            height : "600px",
                            delay  : 0,
                            path   : "/community/lib/",
                            watch  : false,
                            placeholder : "请输入内容",

                            imageUpload          : true,          // Enable/disable upload
                            imageFormats         : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL       : "/community/file/upload",             // Upload url
                            crossDomainUpload    : false,          // Enable/disable Cross-domain upload
                            uploadCallbackURL    : "",             // Cross-domain upload callback url

                            saveHTMLToTextarea   : true,          // If enable, Editor will create a <textarea name="{editor-id}-html-code"> tag save HTML code for form post to server-side.
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="enclosure"></label>
                    <input type="file" id="enclosure" name="enclosure">
                </div>
                <div  style="margin-bottom: 50px">
                    <label for="tags">添加标签:(内容以"、"隔断)</label>
                    <input type="tags" name="tags" class="form-control" id="tags" th:value="${question.getTags()}"
                           th:placeholder="${message3}" placeholder="創建或搜索添加新話題..." onclick="showSelectTag()">
                    <div id="select-tag" style="display: none">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                      data-toggle="tab">开发语言</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                       data-toggle="tab">其他</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home"><span
                                    class="glyphicon glyphicon-tag label label-warning" onclick="selectTags('Java')">Java</span>
                                <span class="glyphicon glyphicon-tag label label-warning"
                                      onclick="selectTags('Spring')">Spring</span>
                                <span class="glyphicon glyphicon-tag label label-warning"
                                      onclick="selectTags('SpringMVC')">SpringMVC</span></div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <span class="glyphicon glyphicon-tag label label-warning"
                                      onclick="selectTags('SpringBoot')">SpringBoot</span>
                                <span class="glyphicon glyphicon-tag label label-warning"
                                      onclick="selectTags('SpringCloud')">SpringCloud</span></div>
                        </div>
                    </div>
                </div>
                <div th:if="${session.currentUser != null}">
                    <button id="questionFormBtn" type="submit" class="btn btn-success"
                            style="float: right;margin-bottom: 2%;">確認發起
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h5>问题发起指南</h5>
            <h5>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</h5>

            <h5>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：</h5>

            <h5>服务器运行环境信息；</h5>
            <h5>软件版本；</h5>
            <h5>问题发生的上下文信息；</h5>
            <h5>可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；</h5>
            <h5>补充完整的异常和错误信息；</h5>
            <h5>注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</h5>
            <h5>• 选择标签: 选择一个或者多个合适的标签，不超过10个字</h5>

            <h5>• 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.</h5>
        </div>
    </div>
</div>
</body>
</html>