<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/community/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/community/css/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/community/jquery/jquery-3.3.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="/community/js/bootstrap.min.js"></script>

    <!--导航栏数据显示-->
    <script type="text/javascript" src="/community/js/include.js"></script>
</head>
<body>
<div th:insert="~{include/include::nav}"></div>
<div class="container-fluid" style="margin-top: 2%;margin-left: 20%;margin-right: 20%">
    <div class="row">
        <!--左侧页面分布-->
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12">
            <h4>用户设置</h4>
            <hr>

            <!--基本资料部分-->
            <form method="post" action="/community/operation/set/edit" enctype="multipart/form-data">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-7">
                    基本资料
                </div>

                <!--头像部分-->
                <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-5">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" th:src="${editUser.getPicture()}"
                                     style="width: 118px;height: 118px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading" style="margin-top: 15px;">头像设置</h5>
                            <span style="margin-top: 15px;">支持 jpg、gif、png 等格式的图片</span>
                            <input type="file" name="file">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning" style="margin:30% 50% 20% 50%">保存</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>